section {
    min-height: 100vh;
    padding: 1rem 11% 3rem 8%;
}

.about {
   display: flex;
  /* justify-content: center;
  align-items: center;  */
  background: var(--bgcolor);
}
.about-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background: red; */
  /* min-height: 20rem;  */
  /* Defina uma altura mínima */
}

.about-context {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%; /* Defina uma altura mínima */
  color: var(--defaultwhite);
}
/*
.about-context h2,
.about-context p,
.about-options ul li p {
  color: var(--defaultwhite);
} */

.about-options ul {
  width: 25vw;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

#style-icon {
  color: var(--abouticoncolor);
}
