section {
    min-height: 108vh;
    padding: 1rem 11% 3rem 8%;
    /* position: relative; */
}

.about {
   display: flex;
  background: var(--bgcolor);
}
.about-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-context {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  color: var(--defaultwhite);
}
/*
.about-context h2,
.about-context p,
.about-options ul li p {
  color: var(--defaultwhite);
} */

.about-options ul {
  width: 25vw;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

#style-icon {
  color: var(--abouticoncolor);
}

@media only screen and (max-width: 720px) {
  section {
    width: 100%;
    justify-content: center;
    min-height: 60vh;
    flex-direction: column;
  }
  .about {
    flex-direction: column;
  }
  .about-img {
    flex-direction: column;
  }
  .about-context {
    flex-direction: column;
  }
  .about-options ul {
    width: 100%;
    justify-content: space-around;
  }
}

.terminal{
  background-color: var(--bgcolor);
  z-index: 99;
  position: absolute;
  height: 87vh;
  width: 52rem;
  left: 59rem;
  transition: all 0.5s ease-out
}

.container-custom {
  width: 59%;
  height: 50%;
  position: absolute;
  left: 20%;
  top: 26%;
  z-index: 99999;
}

.terminal_toolbar {
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #212121;
  justify-content: space-between;
}

.butt {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}

.btn-color {
  background: #ee411a;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.butt--exit {
  background: linear-gradient(#f37458 0%, #de4c12 100%);
}

.add_tab {
  border: 1px solid #fff;
  color: #fff;
  padding: 0 6px 1px;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
}

.user {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 15px;
}

.terminal_body {
  background: rgb(16 16 16 / 84%);;
  height: calc(100% - 30px);
  padding-top: 2px;
  margin-top: -1px;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.terminal_promt {
  font-size: 1rem;
  display: flex;
  user-select: none;
}

.terminal_promt span {
  margin-left: 4px;
}

.terminal_user {
  color: #1eff8e;
}

.terminal_location {
  color: #4878c0;
}

.terminal_bling {
  color: #dddddd;
}

.terminal_cursor {
  display: block;
  height: 15px;
  width: 5px;
  margin-left: 10px;
  animation: curbl 1200ms linear infinite;
}

@keyframes curbl {

  0% {
    background: #ffffff;
  }

  49% {
    background: #ffffff;
  }

  60% {
    background: transparent;
  }

  99% {
    background: transparent;
  }

  100% {
    background: #ffffff;
  }
}

#myTextarea{
  background-color: transparent;
  color: white;
  width: 52rem;
  padding-left: 6px;
}
#myTextarea::placeholder{
  color: var(--abouticoncolor);
  padding: 4px;
  margin: 4px;
}


 
.card {
  width: 200px;
  height: 239px;
  background: transparent;
  display: inline_block;
  border: 1px solid transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--bgcolor);
  transition: 0.2s ease-in-out;
}

.img {
  height: 30%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.textBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
  user-select: none;
}

.textBox > .text {
  font-weight: bold;
}

.textBox > .head {
  font-size: 20px;
  user-select: none;
}

.textBox > .price {
  font-size: 17px;
}

.textBox > span {
  font-size: 12px;
  color: lightgrey;
}

.card:hover > .textBox {
  opacity: 1;
}

.card:hover > .img {
  height: 65%;
  filter: blur(7px);
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.card:hover {
  transform: scale(1.04) rotate(-1deg);
}


.cards-section{
  flex-wrap: wrap;
  /* display: flex; */
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  height: 28rem;
  margin-top: 11%;
  color: var(--defaultwhite);
}

