/* You can add global styles to this file, and also import other style files */
:root{
    --bgcolor: #292526;
    --opositecolor: #E0EAF3;
    --primarycolor: #73E0B8;
    --secondcolor: #10885C;
    --defaultwhite: #fff;
    --fontcolor: #000;
    --abouticoncolor: #b55841;
}

html{
    font-weight: 60.5%;
    overflow-x: hidden;
}

.light-theme{
    background-color: var(--opositecolor);
    color: var(--primarycolor);
    transition: all 0.5s ease-out
}
.dark-theme{
    background-color: var(--bgcolor);
    color: var(--defaultwhite);
    transition: all 0.5s ease-out
}

html{
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
body{
  width: 100vw;
  height: 100vh;
}
